@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{

    var LogoText = "";
    var LogoUrl = "";
    if (Model != null && Model.Content.AncestorsOrSelf(1) != null)
    {
        var rootNode = Model.Content.AncestorsOrSelf(1).First();
        LogoText = rootNode.Name;

        if (rootNode.GetPropertyValue<string>("logoImage") != null)
        {
            LogoUrl = Umbraco.Media(rootNode.GetPropertyValue<int>("logoImage")).Url;
        }
    }
}

<!-- ***** Header Area Start ***** -->
<header class="header_area home-2">
    <!-- Top Header Area Start -->
    @Html.Partial("_TopHeader")
    <!-- Top Header Area End -->
    <!-- Bottom Header Area Start -->
    <div class="bottom-header-area" id="stickyHeader">
        <div class="main_header_area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Logo Area Start -->
                    <div class="col-6">
                        <div class="@(!string.IsNullOrEmpty(LogoUrl)?"":"logo_area")">
                            <a href="/">
                                @{
                                    if (!string.IsNullOrEmpty(LogoUrl))
                                    {
                                        <img src="@LogoUrl" />
                                    }
                                    else
                                    {
                                        <text>@LogoText</text>
                                    }
                                }
                            </a>
                        </div>
                    </div>
                    <!-- Hero Meta Area Start -->
                    <div class="col-6 col-md-3 ml-md-auto">
                        <div class="hero_meta_area d-flex text-right align-items-center justify-content-end">
                            <!-- Wishlist Area -->
                            @*<div class="wishlist">
                                    <a href="wishlist.html"><i class="ti-heart"></i></a>
                                </div>*@
                            <!-- Cart Area -->
                            @Umbraco.RenderMacro("uCommerceMiniBasket")
                            <!-- User Area -->
                            @*<div class="user_thumb">
                                    <a href="#" id="header-user-btn"><img class="img-fluid" src="/Assets/img/bg-img/user.jpg" alt=""></a>
                                    <ul class="user-meta-dropdown">
                                        <li class="user-title"><span>Hello,</span> Lim Sarah</li>
                                        <li><a href="profile.html">My Profile</a></li>
                                        <li><a href="order-list.html">Orders List</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="logout.html"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mainmenu_area">
            <div class="container">
                <nav id="bigshop-nav" class="navigation">
                    <!-- Logo Area Start -->
                    <div class="nav-header">
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-search align-to-right">
                        <div class="nav-search-button">
                            <i class="nav-search-icon"></i>
                        </div>
                        <form>
                            <div class="nav-search-inner">
                                <input type="search" name="search" placeholder="Search for Products, Brands or Catagory">
                            </div>
                        </form>
                    </div>
                    <!-- Main Menus Wrapper -->
                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu">
                            @{Html.RenderAction("CategoryNavigation", "PartialView"); }
                            @Html.Partial("_HeaderMenuOtherPages")
                        </ul>
                    </div>
                </nav>
            </div>
        </div>



    </div>
    <!-- Bottom Header Area End -->
</header>
<!-- ***** Header Area End ***** -->
