@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- ***** Welcome Slides Area Start ***** -->
<section class="welcome_area home-2">
    <div class="welcome_slides">

        @{
            if (Model != null && Model.Content.AncestorsOrSelf(1) != null)
            {
                var homeNode = Model.Content.AncestorsOrSelf(1).First();

                //Get Multi Node picker value
                if (CurrentPage.HasValue("homePageSlider"))
                {
                    var homePageSliders = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("homePageSlider");
                    foreach (var item in homePageSliders)
                    {
                        var imageId = item.GetPropertyValue<int>("image") ;
                        var imageUrl = Umbraco.Media(imageId).Url;
                        var smallHeading = item.GetPropertyValue<string>("smallHeading");
                        var bigHeading = item.GetPropertyValue<string>("bigHeading");
                        var linkText = item.GetPropertyValue<string>("linkText");
                        var link = item.GetPropertyValue<string>("link");
                        var animationType = item.GetPropertyValue<string>("animationType");

                        <div class="single_slide home-3 height-700 bg-img background-overlay" style="background-image: url(@imageUrl);">
                            <div class="container h-100">
                                <div class="row h-100 align-items-center">
                                    <div class="col-12">
                                        <div class="welcome_slide_text">
                                            <p class="text-white" data-animation="@animationType" data-delay="0">@smallHeading</p>
                                            <h2 class="text-white" data-animation="@animationType" data-delay="300ms">@bigHeading</h2>
                                            <a href="@link" class="btn buy-now" data-animation="@animationType" data-delay="600ms">@linkText</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }


    </div>
</section>
<!-- ***** Welcome Slides Area End ***** -->
