@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbUcommerce.Models.PurchaseOrderViewModel>
@{ Layout = "Layout.cshtml"; }
@if (Model.OrderLines.Count == 0)
{
    <div class="alert alert-info">
        <p>Your cart is empty. Please <a href="/">return to our store and add some items</a>.</p>
    </div>
}
else
{
    <!-- ***** Cart Area Start ***** -->
    <div class="cart_area section_padding_100 clearfix">
        <form method="post">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-trash-o" aria-hidden="true"></i></th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>VAT</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (var i = 0; i < Model.OrderLines.Count; i++)
                                {
                                    var line = Model.OrderLines[i];
                                    <tr>

                                        @Html.HiddenFor(model => model.OrderLines[i].Sku) @Html.HiddenFor(model => model.OrderLines[i].VariantSku) @Html.HiddenFor(model => model.OrderLines[i].OrderLineId)

                                        <td>
                                            <button type="submit" value="@line.OrderLineId" name="RemoveOrderlineId" class="line-remove" style=" background: none; border: none;">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td><a href="@line.ProductUrl">@line.ProductName</a></td>
                                        <td class="money">
                                            @if (@line.Discount.HasValue && @line.Discount > 0)
                                        {
                                            <span style="text-decoration: line-through">
                                                @line.Price
                                            </span> @line.PriceWithDiscount }
                                    else
                                    { @line.Price}
                                        </td>
                                        <td class="money">
                                            @line.Tax
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.OrderLines[i].Quantity, new { @class = "qty form-control no-padding" })
                                        </td>
                                        <td>
                                            @line.Total
                                        </td>

                                    </tr>
                            }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        
                                        <td>Sub total:</td>
                                        <td class="money order-subtotal">
                                            @Model.SubTotal
                                        </td>

                                    </tr>
                                    <tr>
                                       
                                        <td>VAT:</td>
                                        <td class="money order-tax">
                                            @Model.TaxTotal
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Discounts:</td>
                                        <td class="money order-discounts">
                                            @Model.DiscountTotal
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Order total:</td>
                                        <td class="money order-total">
                                            @Model.OrderTotal
                                        </td>
                                       
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="cart-footer d-flex mt-30">
                            <div class="back-to-shop w-50">
                            </div>
                            <div class="update-checkout w-50 text-right">
                                <button name="update-basket" id="update-basket" class="btn bigshop-btn update-basket" type="submit"><i class="icon-refresh icon-white"></i>Update Cart</button>

                                <a href="/basket/address" class="btn bigshop-btn">  Continue to Checkout <i class="fa fa-arrow-right icon-white"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </form>
    </div>
    <!-- ***** Cart Area End ***** -->
  
    <div class="col-md-6" id="voucher-form">
        @Umbraco.RenderMacro("uCommerceVoucher")
        <p><span class="label label-info">Tip!</span> <small>Sign up to our mailing list and get 10% off your first order! <a href="#">Click here to get 10% off now</a>!</small></p>
    </div>
}