@using ClientDependency.Core.Mvc
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;


    Html.RequiresJs("~/scripts/jquery-3.0.0.slim.js", 1);
    Html.RequiresJs("~/Assets/js/jquery/jquery-2.2.4.min.js", 1);
    Html.RequiresJs("~/scripts/jquery.validate.min.js", 1);
    Html.RequiresJs("~/scripts/tether.min.js", 1);

    Html.RequiresJs("~/Assets/js/popper.min.js", 1);

    Html.RequiresJs("~/scripts/bootstrap.js", 1);
    Html.RequiresJs("~/scripts/uCommerce.jQuery.js", 2);
    Html.RequiresJs("~/scripts/ucommerce.servicestack.js", 2);
    Html.RequiresJs("~/scripts/ucommerce.demostore.js", 2);
    Html.RequiresJs("~/scripts/uCommerce.facets.js");
    Html.RequiresJs("~/scripts/ucommerce.bootstrap.js", 1);
    Html.RequiresJs("~/scripts/uCommerce.demostore.checkout.js", 2);


    Html.RequiresJs("~/Assets/js/plugins.js", 2);
    Html.RequiresJs("~/Assets/js/active.js", 2);

    Html.RequiresCss("~/Assets/css/core-style.css", 2);
    Html.RequiresCss("~/Assets/css/style.css", 2);
    Html.RequiresCss("~/Assets/css/responsive.css", 2);

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Bigshop | Responsive Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="shortcut icon" href="/Assets/img/core-img/favicon.ico">

    @Html.Raw(Html.RenderCssHere())


    @RenderSection("cphHead", false)

</head>
<body>
    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")
    @RenderSection("cphFoot", false)

    @Html.Raw(Html.RenderJsHere())

    @RenderSection("Scripts", false)
    <script>
        $("#lang").on('click', function (e) {
            //toggle currency dropdown
            $('div.dropdown-menu').toggleClass('show');
        });

        $(".switchcurrency").on('click', function (e) {
            var params = { PriceGroupId: parseInt($(this).attr('data-pricgroupid'))}

            var saveData = $.ajax({
                type: 'POST',
                url: "/umbraco/surface/currency/ChangeCurrency",
                data: params,
                dataType: "text",
                success: function (resultData) {
                    var data = JSON.parse(resultData);
                    if (data.success) {
                        window.location.reload();
                    }
                }
            });
            saveData.error(function () { alert("Something went wrong"); });
        });

       
    </script>
</body>
</html>
