@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbUcommerce.Models.PurchaseOrderViewModel>
@{ Layout = "Layout.cshtml"; }

<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb_area bg-img background-overlay-white" style="height: 100px;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<div class="checkout_steps_area">
    <a class="" href="/basket/address"><i class="ti-check"></i> Billing</a>
    <a class="" href="/basket/shipping"><i class="ti-check"></i> Shipping</a>
    <a class="" href="/basket/payment"><i class="ti-check"></i> Payment</a>
    <a class="active" href="#"><i class="ti-check"></i> Review</a>
    <a class="" href="#"><i class="ti-check"></i> Confirmation</a>
</div>

<!-- ***** Cart Area Start ***** -->
<div class="checkout_area section_padding_0_70">
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cart-table clearfix">

                        <div class="row section_padding_50">
                            <div class="col-sm-6">
                                <h3>Billing address</h3>
                                <br />
                                <address>
                                    <span class="address-line"><strong>@Model.BillingAddress.FirstName @Model.BillingAddress.LastName</strong></span><br>
                                    <span class="address-line">@Model.BillingAddress.Line1<br></span>
                                    <span class="address-line">@Model.BillingAddress.PostalCode @Model.BillingAddress.City</span><br>
                                    <span class="address-line">@Model.BillingAddress.Country.Name</span>
                                    @if (!String.IsNullOrWhiteSpace(@Model.BillingAddress.Attention))
                                    {
                                        <span class="address-line"><text>att. </text> @Model.BillingAddress.Attention</span>
                                    }<br>
                                    <span class="address-line"><abbr title="Phone">P:</abbr>@Model.BillingAddress.PhoneNumber</span><br>
                                    <span class="address-line"><abbr title="Mobile">M:</abbr>@Model.BillingAddress.MobilePhoneNumber </span><br>
                                    <span class="address-line"><abbr title="Email">E:</abbr><a href="mailto:@Model.BillingAddress.EmailAddress">@Model.BillingAddress.EmailAddress</a></span>
                                </address>
                            </div>
                            <div class="col-sm-6">
                                <h3>Shipping address</h3>
                                <br />
                                <address>
                                    <span class="address-line"><strong>@Model.ShipmentAddress.FirstName @Model.ShipmentAddress.LastName</strong></span><br>
                                    <span class="address-line">@Model.ShipmentAddress.CompanyName</span>
                                    @if (!String.IsNullOrWhiteSpace(@Model.ShipmentAddress.Attention))
                                    {
                                        <span class="address-line"><text>att. </text> @Model.ShipmentAddress.Attention </span>
                                    }<br />
                                    <span class="address-line">@Model.ShipmentAddress.Line1</span><br>
                                    <span class="address-line">@Model.ShipmentAddress.PostalCode @Model.ShipmentAddress.City</span><br>
                                    <span class="address-line">@Model.ShipmentAddress.Country.Name</span><br>
                                    <span class="address-line"><abbr title="Phone">P:</abbr>@Model.ShipmentAddress.PhoneNumber</span><br>
                                    <span class="address-line"><abbr title="Mobile">M:</abbr>@Model.ShipmentAddress.MobilePhoneNumber</span><br>
                                    <span class="address-line"><abbr title="Email">E:</abbr><a href="mailto:@Model.ShipmentAddress.EmailAddress">@Model.ShipmentAddress.EmailAddress</a></span>
                                </address>
                            </div>
                        </div>

                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Item no.</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>VAT</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var lineItem in @Model.OrderLines)
                                {
                                    <tr>

                                        <td>
                                            @lineItem.Sku
                                        </td>
                                        <td><a href="@lineItem.ProductUrl">@lineItem.ProductName</a></td>
                                        <td class="money">
                                            @if (@lineItem.Discount.HasValue && @lineItem.Discount > 0)
                                            {
                                                <span style="text-decoration: line-through">
                                                    @lineItem.Price
                                                </span> @lineItem.PriceWithDiscount }
                                            else
                                            { @lineItem.Price}
                                        </td>
                                        <td class="money">
                                            @lineItem.Tax
                                        </td>
                                        <td>
                                            @lineItem.Quantity
                                        </td>
                                        <td>
                                            @lineItem.Total
                                        </td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>

                                    <td>Sub total:</td>
                                    <td class="money order-subtotal">
                                        @Model.SubTotal
                                    </td>

                                </tr>
                                <tr>

                                    <td>VAT:</td>
                                    <td class="money order-tax">
                                        @Model.TaxTotal
                                    </td>

                                </tr>
                                <tr>
                                    <td>Discounts:</td>
                                    <td class="money order-discounts">
                                        @Model.DiscountTotal
                                    </td>

                                </tr>
                                @if (Model.DiscountAmount != 0)
                                {
                                    <tr>
                                        <td>Order discounts: </td>
                                        <td class="money">- @Model.DiscountTotal</td>
                                    </tr>
                                } @if (Model.ShipmentAmount != 0)
                                {
                                    <tr>
                                        <td>
                                            Shipping
                                            <text> (via @Model.ShipmentName)</text>
                                        </td>
                                        <td class="money">@Model.ShippingTotal</td>
                                    </tr>
                                } @if (Model.PaymentAmount != 0)
                                {
                                    <tr>
                                        <td>
                                            Payment
                                            <text> (@Model.PaymentName)</text>
                                        </td>
                                        <td class="money">@Model.PaymentTotal</td>
                                    </tr>
                                }
                                <tr>
                                    <td>Order total:</td>
                                    <td class="money order-total">
                                        @Model.OrderTotal
                                    </td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="cart-footer d-flex mt-30">
                        <div class="back-to-shop w-50">
                        </div>
                        <div class="checkout_pagination mt-50 text-right">
                            <a href="/basket/payment" class="btn bigshop-btn">Back to Payment Method</a>
                            <button name="send-order" class="btn bigshop-btn" type="submit">Complete Order</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<!-- ***** Cart Area End ***** -->